# Ignore the log files
*.log
*.jsonl

# Ignore your private environment variables
.env
.env.local

backend/node_modules
.env

frontend/node_modules

# Ignore build folders
build/
dist/

# Ignore Python cache folders
__pycache__/
*.py[cod]
*.$py.class
venv/
ENV/

.vscode